<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link href="../styles/main.css" rel="stylesheet" type="text/css"></href>
</head>
<body>
    <div1 id="wrapper">
        <h1>Upload a File</h1>
    </div1>
    <div2 id="wrapper">
        <input type="file" id="fileInput">
    </div2>
    <div3 id="wrapper">
        <!-- <button onclick="uploadFile()">Upload</button> -->
        <button class="button-52" role="button" onclick="uploadFile()"><span class="text">Upload</span></button>
    </div3>
    
    <!-- <div id="result"></div> -->
    <p id="fileNameDisplay"></p>
    <script src="../static/app.js"></script>
</body>
</html>